In [82]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st

In [83]:
# File to Load (Remember to Change These)
record_2015 = "data/2015record.csv"
record_2016 = "data/2016record.csv"
record_2017 = "data/2017record.csv"
record_2018 = "data/2018record.csv"
record_2019 = "data/2019record.csv"

# Read Purchasing File and store into Pandas data frame
teams_record_2015 = pd.read_csv(record_2015)
teams_record_2016 = pd.read_csv(record_2016)
teams_record_2017 = pd.read_csv(record_2017)
teams_record_2018 = pd.read_csv(record_2018)
teams_record_2019 = pd.read_csv(record_2019)

In [84]:
order_2015 = teams_record_2015.sort_values(by="NFL Team", ascending=True)

# Drop unecessary columns
type(order_2015)

new_record_2015 = order_2015.drop(columns=['Unnamed: 0', 'PCT', 'PF', 'PA', 'Net Pts', 'Home', 'Road', "Div", 'Pct', 'Conf', 'Pct.1', 'Non-Conf', 'Strk', 'Last 5'])

# Rename W, L, T columns
clean_2015 = new_record_2015.rename(columns={"W": "2015 Wins",  "L": "2015 Losses", "T":"2015 Ties"})

#Clean 'xz" characters 
#for index, row in clean_2015.iterrows():
    #word=str(row['NFL Team']).split(' xz')[0].strip()
   # row['NFL Team']=word

#Clean 'xy" characters
#for index, row in clean_2015.iterrows():
   # word=str(row['NFL Team']).split(' xy')[0].strip()
    #row['NFL Team']=word


#clean_2015['NFL Team'] = clean_2015['NFL Team'].str.replace(r'\b(\w+)(\s+\1)+\b', r'\1')

#clean_2015 = clean_2015.sort_values(by="NFL Team", ascending=True)
#clean_2015 = clean_2015.drop('NFL Team', axis=1)
clean_2015['NFL Team'] = clean_2015['NFL Team'].str.replace(r'xz', '')
clean_2015['NFL Team'] = clean_2015['NFL Team'].str.replace(r'xy', '')
clean_2015['NFL Team'] = clean_2015['NFL Team'].str.replace(r'*', '')
clean_2016['NFL Team'] = clean_2016['NFL Team'].str.replace(r'\b(\w+)(\s+\1)+\b', r'\1')

clean_2015 = clean_2015.sort_values(by="NFL Team", ascending=True)

clean_2015
    
#store word outside for loop, team varbile
#go through loop. is the word = previous word
# if word - previous do nothing
# else add to the 
# add new word

#for index, row in clean_2015.iterrows():
    #word = str(row['NFL Team']).split(' ')
    #word += " " str(row['NFL Team']).split(' ')[1]
    #row['NFL Team'])=word

KeyError: 'NFL Team'

In [76]:
order_2016 = teams_record_2016.sort_values(by="NFL Team", ascending=True)
type(order_2016)
new_record_2016 = order_2016.drop(columns=['Unnamed: 0', 'PCT', 'PF', 'PA', 'Net Pts', 'Home', 'Road', "Div", 'Pct', 'Conf', 'Pct.1', 'Non-Conf', 'Strk', 'Last 5'])

# Rename W, L, T columns
clean_2016 = new_record_2016.rename(columns={"W": "2016 Wins",  "L": "2016 Losses", "T":"2016 Ties"})


#Clean 'xz" characters 
for index, row in clean_2016.iterrows():
    word=str(row['NFL Team']).split(' xz')[0].strip()
    row['NFL Team']=word

#Clean 'xz*" characters 
for index, row in clean_2016.iterrows():
    word=str(row['NFL Team']).split(' xz*')[0].strip()
    row['NFL Team']=word

clean_2016['NFL Team'] = clean_2016['NFL Team'].str.replace(r'xz', '')
clean_2016['NFL Team'] = clean_2016['NFL Team'].str.replace(r'xy', '')
clean_2016['NFL Team'] = clean_2016['NFL Team'].str.replace(r'*', '')
clean_2016['NFL Team'] = clean_2016['NFL Team'].str.replace(r'\b(\w+)(\s+\1)+\b', r'\1')

clean_2016 = clean_2016.sort_values(by="NFL Team", ascending=True)
clean_2016 = clean_2016.drop('NFL Team', axis=1)

clean_2016

    2016 Wins  2016 Losses  2016 Ties
9           7            8          1
25         11            5          0
13          8            8          0
10          7            9          0
7           6           10          0
2           3           13          0
8           6            9          1
0           1           15          0
30         13            3          0
17          9            7          0
18          9            7          0
22         10            6          0
19          9            7          0
14          8            8          0
3           3           13          0
28         12            4          0
4           4           12          0
23         10            6          0
15          8            8          0
31         14            2          0
11          7            9          0
26         11            5          0
5           5           11          0
29         12            4          0
12          7            9          0
27         11            5          0
6           5           11          0
1           2           14          0
24         10            5          1
20          9            7          0
21          9            7          0
16          8            7          1

In [81]:
order_2017 = teams_record_2017.sort_values(by="NFL Team", ascending=True)
type(order_2017)
new_record_2017 = order_2017.drop(columns=['Unnamed: 0', 'PCT', 'PF', 'PA', 'Net Pts', 'Home', 'Road', "Div", 'Pct', 'Conf', 'Pct.1', 'Non-Conf', 'Strk', 'Last 5'])

# Rename W, L, T columns
clean_2017 = new_record_2017.rename(columns={"W": "2018 Wins",  "L": "2018 Losses", "T":"2018 Ties"})
clean_2017


clean_2017['NFL Team'] = clean_2017['NFL Team'].str.replace(r'xz', '')
clean_2017['NFL Team'] = clean_2017['NFL Team'].str.replace(r'xy', '')
clean_2017['NFL Team'] = clean_2017['NFL Team'].str.replace(r'x', '')
clean_2017['NFL Team'] = clean_2017['NFL Team'].str.replace(r'*', '')
clean_2017['NFL Team'] = clean_2017['NFL Team'].str.replace(r'\b(\w+)(\s+\1)+\b', r'\1')

clean_2017 = clean_2018.sort_values(by="NFL Team", ascending=True)
clean_2017 = clean_2018.drop('NFL Team', axis=1)

clean_2017

KeyError: 'NFL Team'

In [64]:
order_2018 = teams_record_2018.sort_values(by="NFL Team", ascending=True)
type(order_2018)
new_record_2018 = order_2018.drop(columns=['Unnamed: 0', 'PCT', 'PF', 'PA', 'Net Pts', 'Home', 'Road', "Div", 'Pct', 'Conf', 'Pct.1', 'Non-Conf', 'Strk', 'Last 5'])

# Rename W, L, T columns
clean_2018 = new_record_2018.rename(columns={"W": "2018 Wins",  "L": "2018 Losses", "T":"2018 Ties"})
clean_2018


clean_2018['NFL Team'] = clean_2018['NFL Team'].str.replace(r'xz', '')
clean_2018['NFL Team'] = clean_2018['NFL Team'].str.replace(r'xy', '')
clean_2018['NFL Team'] = clean_2018['NFL Team'].str.replace(r'x', '')
clean_2018['NFL Team'] = clean_2018['NFL Team'].str.replace(r'*', '')
clean_2018['NFL Team'] = clean_2018['NFL Team'].str.replace(r'\b(\w+)(\s+\1)+\b', r'\1')

clean_2018 = clean_2018.sort_values(by="NFL Team", ascending=True)
clean_2018 = clean_2018.drop('NFL Team', axis=1)

clean_2018

    2018 Wins  2018 Losses  2018 Ties
0           3           13          0
12          7            9          0
21         10            6          0
7           6           10          0
13          7            9          0
27         12            4          0
8           6           10          0
14          7            8          1
22         10            6          0
9           6           10          0
10          6           10          0
11          6            9          1
25         11            5          0
23         10            6          0
4           5           11          0
28         12            4          0
29         12            4          0
30         13            3          0
15          7            9          0
17          8            7          1
26         11            5          0
31         13            3          0
5           5           11          0
1           4           12          0
2           4           12          0
18          9            7          0
19          9            6          1
3           4           12          0
24         10            6          0
6           5           11          0
20          9            7          0
16          7            9          0

In [66]:
order_2019 = teams_record_2019.sort_values(by="NFL Team", ascending=True)
type(order_2019)
new_record_2019 = order_2019.drop(columns=['Unnamed: 0', 'PCT', 'PF', 'PA', 'Net Pts', 'Home', 'Road', "Div", 'Pct', 'Conf', 'Pct.1', 'Non-Conf', 'Strk', 'Last 5'])


# Rename W, L, T columns
clean_2019 = new_record_2019.rename(columns={"W": "2019 Wins",  "L": "2019 Losses", "T":"2019 Ties"})
clean_2019.index.name

clean_2019['NFL Team'] = clean_2019['NFL Team'].str.replace(r'x', '')
clean_2019['NFL Team'] = clean_2019['NFL Team'].str.replace(r'z', '')
clean_2019['NFL Team'] = clean_2019['NFL Team'].str.replace(r'xy', '')
clean_2019['NFL Team'] = clean_2019['NFL Team'].str.replace(r'*', '')
clean_2019['NFL Team'] = clean_2019['NFL Team'].str.replace(r'\b(\w+)(\s+\1)+\b', r'\1')

clean_2019.loc[clean_2019["NFL Team"] == 'Ariona Cardinals'].replace('Ariona Cardinals', 'Arizona Cardinals')


clean_2019

                                NFL Team  2019 Wins  2019 Losses  2019 Ties
4                      Arizona Cardinals          5           10          1
10                       Atlanta Falcons          7            9          0
31        Baltimore Ravens  z  Ravens  z         14            2          0
22                       Buffalo Bills           10            6          0
5                      Carolina Panthers          5           11          0
16                         Chicago Bears          8            8          0
0                     Cincinnati Bengals          2           14          0
8                       Cleveland Browns          6           10          0
17                        Dallas Cowboys          8            8          0
11                        Denver Broncos          7            9          0
1                          Detroit Lions          3           12          1
28      Green Bay Packers  z  Packers  z         13            3          0
23            Houston Teans  z  Teans  z         10            6          0
12                    Indianapolis Colts          7            9          0
9                   Jacksonville Jaguars          6           10          0
26      Kansas City Chiefs  z  Chiefs  z         12            4          0
6                   Los Angeles Chargers          5           11          0
19                      Los Angeles Rams          9            7          0
7                         Miami Dolphins          5           11          0
24                   Minnesota Vikings           10            6          0
27  New England Patriots  z  Patriots  z         12            4          0
29      New Orleans Saints  z  Saints  z         13            3          0
3                        New York Giants          4           12          0
13                         New York Jets          7            9          0
14                       Oakland Raiders          7            9          0
20     Philadelphia Eagles  z  Eagles  z          9            7          0
18                   Pittsburgh Steelers          8            8          0
30                 San Francisco 49ers           13            3          0
25                      Seattle Seahawks         11            5          0
15                  Tampa Bay Buccaneers          7            9          0
21                    Tennessee Titans            9            7          0
2                    Washington Redskins          3           13          0

In [65]:
horizontal_stack = pd.concat([clean_2016, clean_2017, clean_2018], axis=1, ignore_index=True)
#df = horizontal_stack.sort_values(by="NFL Team", ascending=True)
#df
horizontal_stack

     0   1  2   3   4  5   6   7  8
0    1  15  0   0  16  0   3  13  0
1    2  14  0   3  13  0   4  12  0
2    3  13  0   4  12  0   4  12  0
3    3  13  0   4  12  0   4  12  0
4    4  12  0   5  11  0   5  11  0
5    5  11  0   5  11  0   5  11  0
6    5  11  0   5  11  0   5  11  0
7    6  10  0   5  11  0   6  10  0
8    6   9  1   6  10  0   6  10  0
9    7   8  1   6  10  0   6  10  0
10   7   9  0   6  10  0   6  10  0
11   7   9  0   7   9  0   6   9  1
12   7   9  0   7   9  0   7   9  0
13   8   8  0   7   9  0   7   9  0
14   8   8  0   8   8  0   7   8  1
15   8   8  0   9   7  0   7   9  0
16   8   7  1   9   7  0   7   9  0
17   9   7  0   9   7  0   8   7  1
18   9   7  0   9   7  0   9   7  0
19   9   7  0   9   7  0   9   6  1
20   9   7  0   9   7  0   9   7  0
21   9   7  0   9   7  0  10   6  0
22  10   6  0  10   6  0  10   6  0
23  10   6  0  10   6  0  10   6  0
24  10   5  1  10   6  0  10   6  0
25  11   5  0  11   5  0  11   5  0
26  11   5  0  11   5  0  11   5  0
27  11   5  0  11   5  0  12   4  0
28  12   4  0  13   3  0  12   4  0
29  12   4  0  13   3  0  12   4  0
30  13   3  0  13   3  0  13   3  0
31  14   2  0  13   3  0  13   3  0