In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests as req
from splinter import Browser
from selenium import webdriver
import time
import pymongo
import json

In [2]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [3]:
db = client.nfl_db
collection = db.years

In [27]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [5]:
years = [2015, 2016, 2017, 2018, 2019]

In [128]:
#for year in years:
 #   url =f"https://www.nfl.com/standings/league/{year}/reg/"
    
  #  browser.visit(url)
   # time.sleep(5)
    #table = pd.read_html(url)
    #df = table[0]
    #df.to_csv(f'{year}record.csv')

In [4]:
years = [2015, 2016, 2017, 2018, 2019]

In [6]:
for year in years:
    url =f"https://www.nfl.com/standings/league/{year}/reg/"
    
    browser.visit(url)
    time.sleep(5)
    table = soup.find("table")
    trs = table.find_all('tr')[1:]
    print(trs)

IndentationError: unexpected indent (<ipython-input-6-30f1ef9a1bdc>, line 2)

In [30]:
for year in years:
    url =f"https://www.nfl.com/standings/league/{year}/reg/"
    browser.visit(url)
    time.sleep(5)
    html = browser.html
    soup = bs(html, "html.parser")
    table = soup.find("table")

    table_rows = table.find_all('tr')
    collection = db.years
    db.collection.insert(records)
    #needs to be run once for the above line to work not really sure how to fix that. 
    res = []
    row = []
    for tr in table_rows:
        td = tr.find_all('td')
        row = [tr.text.strip() for tr in td if tr.text.strip()]
        if row:
            row.append(row)
            df = pd.DataFrame(row, columns=['NFL Team',	'W', 'L', 'T','PCT','PF','PA','Net Pts','Home',	'Road', 'Div','Pct','Conf',	'Pct','Non-Conf','Strk','Last 5'])
            df['NFL Team'] = df['NFL Team'].str.replace(r'\n', '')
            df['NFL Team'] = df['NFL Team'].str.replace(r'.', '')
            df['NFL Team'] = df['NFL Team'].str.replace(r'xz', '')
            df['NFL Team'] = df['NFL Team'].str.replace(r'x', '')
            df['NFL Team']  = df['NFL Team'].str.replace(r'xy', '')
            df['NFL Team']  = df['NFL Team'].str.replace(r'*', '')
            df['NFL Team'] = df['NFL Team'].str.replace(r'\b(\w+)(\s+\1)+\b', r'\1')
            df['year'] = f'{year}'
            df.set_index('NFL Team', inplace=True)
            records = df.to_dict(orient='index')
            #db.collection.insert(records)

ValueError: Shape of passed values is (18, 1), indices imply (18, 17)

In [26]:
row

['Cincinnati Bengals\n            \n          \n\n            Bengals',
 '2',
 '14',
 '0',
 '0.125',
 '279',
 '420',
 '-141',
 '2 - 6 - 0',
 '0 - 8 - 0',
 '1 - 5 - 0',
 '0.167',
 '2 - 10 - 0',
 '0.167',
 '0 - 4 - 0',
 '1W',
 '2 - 3 - 0']

In [ ]:
 df = pd.DataFrame(row, columns=['NFL Team',	'W', 'L', 'T','PCT','PF','PA','Net Pts','Home',	'Road', 'Div','Pct','Conf',	'Pct','Non-Conf','Strk','Last 5'])
            df['NFL Team'] = df['NFL Team'].str.replace(r'\n', '')
            df['NFL Team'] = df['NFL Team'].str.replace(r'.', '')
            df['NFL Team'] = df['NFL Team'].str.replace(r'xz', '')
            df['NFL Team'] = df['NFL Team'].str.replace(r'z', '')
            df['NFL Team']  = df['NFL Team'].str.replace(r'xy', '')
            df['NFL Team']  = df['NFL Team'].str.replace(r'*', '')
            df['NFL Team'] = df['NFL Team'].str.replace(r'\b(\w+)(\s+\1)+\b', r'\1')
            df['year'] = f'{year}'
            df.set_index('NFL Team', inplace=True)
            records = df.to_dict(orient='index')

In [114]:
df['NFL Team'] = df['NFL Team'].str.replace(r'\n', '')
df['NFL Team'] = df['NFL Team'].str.replace(r'.', '')
df['NFL Team'] = df['NFL Team'].str.replace(r'xz', '')
df['NFL Team']  = df['NFL Team'].str.replace(r'xy', '')
df['NFL Team']  = df['NFL Team'].str.replace(r'*', '')
df['NFL Team'] = df['NFL Team'].str.replace(r'\b(\w+)(\s+\1)+\b', r'\1')
df.set_index('NFL Team', inplace=True)
df

,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct,Non-Conf,Strk,Last 5
NFL Team,,,,,,,,,,,,,,,,
Cleveland Browns,3,13,0,0.188,278,432,-154,2 - 6 - 0,1 - 7 - 0,1 - 5 - 0,0.167,2 - 10 - 0,0.167,1 - 3 - 0,3L,1 - 4 - 0
Tennessee Titans,3,13,0,0.188,299,423,-124,1 - 7 - 0,2 - 6 - 0,1 - 5 - 0,0.167,1 - 11 - 0,0.083,2 - 2 - 0,4L,1 - 4 - 0
Dallas Cowboys,4,12,0,0.250,275,374,-99,1 - 7 - 0,3 - 5 - 0,3 - 3 - 0,0.500,3 - 9 - 0,0.250,1 - 3 - 0,4L,1 - 4 - 0
San Diego Chargers,4,12,0,0.250,320,398,-78,3 - 5 - 0,1 - 7 - 0,0 - 6 - 0,0.000,3 - 9 - 0,0.250,1 - 3 - 0,2L,1 - 4 - 0
Baltimore Ravens,5,11,0,0.313,328,401,-73,3 - 5 - 0,2 - 6 - 0,3 - 3 - 0,0.500,4 - 8 - 0,0.333,1 - 3 - 0,1L,1 - 4 - 0
Jacksonville Jaguars,5,11,0,0.313,376,448,-72,4 - 4 - 0,1 - 7 - 0,2 - 4 - 0,0.333,5 - 7 - 0,0.417,0 - 4 - 0,3L,1 - 4 - 0
San Francisco 49ers,5,11,0,0.313,238,387,-149,4 - 4 - 0,1 - 7 - 0,1 - 5 - 0,0.167,4 - 8 - 0,0.333,1 - 3 - 0,1W,2 - 3 - 0
Chicago Bears,6,10,0,0.375,335,397,-62,1 - 7 - 0,5 - 3 - 0,1 - 5 - 0,0.167,3 - 9 - 0,0.250,3 - 1 - 0,1L,1 - 4 - 0
Miami Dolphins,6,10,0,0.375,310,389,-79,3 - 5 - 0,3 - 5 - 0,1 - 5 - 0,0.167,4 - 8 - 0,0.333,2 - 2 - 0,1W,2 - 3 - 0
New York Giants,6,10,0,0.375,420,442,-22,3 - 5 - 0,3 - 5 - 0,2 - 4 - 0,0.333,4 - 8 - 0,0.333,2 - 2 - 0,3L,1 - 4 - 0
Tampa Bay Buccaneers,6,10,0,0.375,342,417,-75,3 - 5 - 0,3 - 5 - 0,3 - 3 - 0,0.500,5 - 7 - 0,0.417,1 - 3 - 0,4L,1 - 4 - 0
Detroit Lions,7,9,0,0.438,358,400,-42,4 - 4 - 0,3 - 5 - 0,3 - 3 - 0,0.500,6 - 6 - 0,0.500,1 - 3 - 0,3W,3 - 2 - 0
New Orleans Saints,7,9,0,0.438,408,476,-68,4 - 4 - 0,3 - 5 - 0,3 - 3 - 0,0.500,5 - 7 - 0,0.417,2 - 2 - 0,2W,3 - 2 - 0
Oakland Raiders,7,9,0,0.438,359,399,-40,3 - 5 - 0,4 - 4 - 0,3 - 3 - 0,0.500,7 - 5 - 0,0.583,0 - 4 - 0,1L,2 - 3 - 0
Philadelphia Eagles,7,9,0,0.438,377,430,-53,3 - 5 - 0,4 - 4 - 0,3 - 3 - 0,0.500,4 - 8 - 0,0.333,3 - 1 - 0,1W,3 - 2 - 0
St Louis Rams,7,9,0,0.438,280,330,-50,5 - 3 - 0,2 - 6 - 0,4 - 2 - 0,0.667,6 - 6 - 0,0.500,1 - 3 - 0,1L,3 - 2 - 0
Atlanta Falcons,8,8,0,0.500,339,345,-6,4 - 4 - 0,4 - 4 - 0,1 - 5 - 0,0.167,5 - 7 - 0,0.417,3 - 1 - 0,1L,2 - 3 - 0
Buffalo Bills,8,8,0,0.500,379,359,20,5 - 3 - 0,3 - 5 - 0,4 - 2 - 0,0.667,7 - 5 - 0,0.583,1 - 3 - 0,2W,3 - 2 - 0
Indianapolis Colts,8,8,0,0.500,333,408,-75,4 - 4 - 0,4 - 4 - 0,4 - 2 - 0,0.667,6 - 6 - 0,0.500,2 - 2 - 0,2W,2 - 3 - 0
Houston Texans,9,7,0,0.563,339,313,26,5 - 3 - 0,4 - 4 - 0,5 - 1 - 0,0.833,7 - 5 - 0,0.583,2 - 2 - 0,3W,3 - 2 - 0
Washington Redskins,9,7,0,0.563,388,379,9,6 - 2 - 0,3 - 5 - 0,4 - 2 - 0,0.667,8 - 4 - 0,0.667,1 - 3 - 0,4W,4 - 1 - 0
Green Bay Packers,10,6,0,0.625,368,323,45,5 - 3 - 0,5 - 3 - 0,3 - 3 - 0,0.500,7 - 5 - 0,0.583,3 - 1 - 0,2L,3 - 2 - 0
New York Jets,10,6,0,0.625,387,314,73,6 - 2 - 0,4 - 4 - 0,3 - 3 - 0,0.500,7 - 5 - 0,0.583,3 - 1 - 0,1L,4 - 1 - 0
Pittsburgh Steelers,10,6,0,0.625,423,319,104,6 - 2 - 0,4 - 4 - 0,3 - 3 - 0,0.500,7 - 5 - 0,0.583,3 - 1 - 0,1W,4 - 1 - 0
Seattle Seahawks,10,6,0,0.625,423,277,146,5 - 3 - 0,5 - 3 - 0,3 - 3 - 0,0.500,7 - 5 - 0,0.583,3 - 1 - 0,1W,4 - 1 - 0
Kansas City Chiefs,11,5,0,0.688,405,287,118,6 - 2 - 0,5 - 3 - 0,5 - 1 - 0,0.833,10 - 2 - 0,0.833,1 - 3 - 0,10W,5 - 0 - 0
Minnesota Vikings,11,5,0,0.688,365,302,63,6 - 2 - 0,5 - 3 - 0,5 - 1 - 0,0.833,8 - 4 - 0,0.667,3 - 1 - 0,3W,3 - 2 - 0
Cincinnati Bengals,12,4,0,0.750,419,279,140,6 - 2 - 0,6 - 2 - 0,5 - 1 - 0,0.833,9 - 3 - 0,0.750,3 - 1 - 0,1W,3 - 2 - 0
Denver Broncos,12,4,0,0.750,355,296,59,6 - 2 - 0,6 - 2 - 0,4 - 2 - 0,0.667,8 - 4 - 0,0.667,4 - 0 - 0,2W,3 - 2 - 0
New England Patriots,12,4,0,0.750,465,315,150,7 - 1 - 0,5 - 3 - 0,4 - 2 - 0,0.667,9 - 3 - 0,0.750,3 - 1 - 0,2L,2 - 3 - 0
Arizona Cardinals,13,3,0,0.813,489,313,176,6 - 2 - 0,7 - 1 - 0,4 - 2 - 0,0.667,10 - 2 - 0,0.833,3 - 1 - 0,1L,4 - 1 - 0
Carolina Panthers,15,1,0,0.938,500,308,192,8 - 0 - 0,7 - 1 - 0,5 - 1 - 0,0.833,11 - 1 - 0,0.917,4 - 0 - 0,1W,4 - 1 - 0

In [92]:
#dict = df.to_dict('df')
#dict

In [121]:
records = df.to_dict(orient='index')
db.collection.insert(records)

dict

In [99]:
browns = {'NFL Team': 'Cleveland Browns',
  'W': '3',
  'L': '13',
  'T': '0',
  'PCT': '0.188',
  'PF': '278',
  'PA': '432',
  'Net Pts': '-154',
  'Home': '2 - 6 - 0',
  'Road': '1 - 7 - 0',
  'Div': '1 - 5 - 0',
  'Pct': '0.167',
  'Conf': '2 - 10 - 0',
  'Non-Conf': '1 - 3 - 0',
  'Strk': '3L',
  'Last 5': '1 - 4 - 0'}
db.collection.insert(browns)

ObjectId('5f9393d82a1178eb0d7c4105')